.ProfileCard {
    padding: 20q;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
}

.loading, .error {
    height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}